.fake-login-button {
    width: 570px; 
    height: 42px; 
    padding-left: 6px; 
    padding-right: 6px; 
    padding-top: 2px; 
    padding-bottom: 3px; 
    margin-left: 15px;
    margin-bottom: 1.5em;
}