{{define "accountShareReceiverMail"}}
<p>{{t "intro_text_receiver" .}}</p>

<p>{{t "second_paragraph_receiver" .}}</p>

<p>{{t "share_url_receiver" .}}</p>

<p>{{t "ttl_text_receiver" .}}</p>
{{end}}
