{{define "accountShareSenderMail"}}
<p>{{t "intro_text_sender" .}}</p>

<p>{{t "second_paragraph_sender" .}}</p>

<p>{{t "third_paragraph_sender" .}}</p>

<p><a href="{{t "share_url_receiver" .}}" target="blank">{{t "share_url_receiver" .}}</a></p>

<p>{{t "ttl_text_receiver" .}}</p>
{{end}}
