<h2 mat-dialog-title>Manage Guest Users</h2>
<mat-dialog-content *ngIf="!isLoading">
  <table class="w-100">
    <th class="col-2">Email</th>
    <th class="col-2">Date Created</th>
    <th class="col-2">Actions</th>
    <tr *ngFor="let item of data">
      <td class="align-center">{{ item.guestUserEmail }}</td>
      <td class="align-center">
        {{ item.createdAt | date: "MM/dd/yy HH:mm" }}
      </td>
      <td class="align-center">
        <button
          mat-raised-button
          color="warn"
          (click)="revokeAccessOnRelation(item.relationId)"
        >
          Remove Access
        </button>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-content *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
