<div>
  <span class="sp-1">
    <button mat-raised-button (click)="logout()" color="warn">logout</button>
  </span>
  <span class="sp-1" *ngIf="user?.isAccountHolder">
    <button mat-raised-button (click)="openShareDialog()">share account</button>
  </span>
  <span class="sp-1" *ngIf="hasGuestGrants">
    <button mat-raised-button (click)="openGrantsDialog(GrantsContext.Guest)">
      login as guest
    </button>
  </span>
  <span class="sp-1" *ngIf="hasParentGrants">
    <button mat-raised-button (click)="openGrantsDialog(GrantsContext.Parent)">
      manage account shares
    </button>
  </span>
  <span class="sp-1" *ngIf="user?.isAdmin">
    <button mat-raised-button (click)="openUserListDialog()">view users</button>
  </span>
  <span class="sp-1" *ngIf="!user?.isAccountHolder">
    <button mat-raised-button (click)="logoutAsGuest()">logout as guest</button>
  </span>
</div>

<p>Welcome, {{ user.email }}!</p>

<div class="w-100">
  <app-posts></app-posts>
</div>
